:root {
    --overlay-color: #03a9f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    background-color: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.logo:hover {
    color: var(--overlay-color);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('/menu.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

    
}

.toggle.active {
    background: url('/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1a526c;
    mix-blend-mode: overlay;
}

.content {
    position: absolute;
    top: 2;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}
#openPopup {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    padding: 40px;
    text-align: center;
}

#welcome {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bolder;
}

#pic {
    border-radius: 100px;
    width: 200px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#name-input {
    margin-top: 5px;
    margin-bottom: 10px;
}

#passcode-input {
    margin-top: 5px;
}

#btn {
    position: relative;
    flex-direction: column;
    height: 150px;
    width: 200px;
    margin-top: 20px;
    word-spacing: 20px;
    cursor: pointer;
}

#btn button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 7px 5px;
}

#btn button:hover {
    color: var(--overlay-color);
}

.results div {
    margin-top: 60px;
    font-weight: bolder;
    /* color: red; */
}

.hide {
    visibility: hidden;
}



/* .home-back {
    background-color: #1a526c;
} */

.design {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.design label {
    color: #111;
    margin-top: 10px;
}

#close-foto {
    width: 18px;
    margin-top: 25px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#foto {
    border-radius: 200px;
    width: 150px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.design button {
    width: 100px;
    align-self: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #72a996;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
}

/* .social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
   filter: invert(1);
   margin-right: 20px;
   transform: scale(0.1);
   transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
} */